doctype 5
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(http-equiv="Content-type",content="text/html; charset=utf-8")
        meta(name="viewport",content="width=1000")
        script(src="/javascripts/lib/jquery-1.7.2.min.js")
        script(src="/javascripts/shim.js")
        script(src="/javascripts/event-emitter.js")
        script(src="/javascripts/vector.js")
        script(src="/javascripts/moving-object.js")
        script(src="/javascripts/interactive-object.js")
        script(src="/javascripts/scene.js")
        script(src="/javascripts/color.js")
        script(src="/socket.io/socket.io.js")
        script(src="/javascripts/constraint.js")
        script(src="/javascripts/main.js")
        title= title
        script
  body
    block content